.Footer-Container {
    margin-top: 100px;
    display: flex;
    padding: 20px;
    height: 60px;
    justify-content: space-between;
    background-color: darkgreen;
}

.Footer-Data {
    align-items: center;
    display: flex;
}

.Footer-Data img {
    margin: 0px 50px;
    width: 50px;
    height: 50px;
}

.Footer-Data img:hover {
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 25px;
    transition: 0.4s;
}

.Footer-Data a {
    margin: 0px 60px;
    text-decoration: none;
    font-size: 25px;
    color: grey;
    border-radius: 7px;
    padding: 4px;
}

.Footer-Data a:hover {
    background-color: darkgreen;
    color: lightgreen;
    transition: 0.4s;
}