.who-container {
    display: flex;
    flex-direction: row-reverse;
    margin: 135px 135px;
    padding: 70px 50px 150px 30px;
}

.who-intro {
    text-align: left;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.who-intro h1 {
    font-size: 33px;
}

.who-intro a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: darkgreen;
    border-radius: 4px;
}

.who-intro a:hover {
    box-shadow: 0px 0px 6px lightgreen;
}

.who-img img {
    width: 330px;
    height: 400px;
    box-shadow: 0px 0px 30px black;
    border-radius: 5px;
}

@media screen and (max-width: 1050px) {

    .who-container {
        display: flow-root;
        padding: 0px 0px 100px 0px;
    }

    .who-img {
        display: flex;
        justify-content: center;
    }

    .who-img img {
        width: 290px;
        height: 350px;
    }

    .who-intro {
        text-align: center;
    }

    .who-intro h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 900px) {
    .who-img img {
        width: 250px;
        height: 290px;
    }

}

@media screen and (max-width: 700px) {

    .who-container {
        margin: 135px 45px;
    }

    .who-img img {
        width: 180px;
        height: 210px;
    }

    .who-intro {
        text-align: left;
    }

    .who-intro h1 {
        font-size: 25px;
    }
}

